body {
    background-image: url("../Image/Background.jfif");
    background-color: black;
    height: 1570px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#main {
    color: white;
    text-align: center;
    justify-content: center;
    margin: 0px auto;
    width: 50%;
    padding: 0px 20px;
}

h1,h2,h3,h4,h5,h6{
	font-family: verdana;
    border-radius: 20px;
}

h1 {
	background-color: rgba(47, 46, 68, 1);
	border-radius: 25px;
	padding: 10px 0px;
}

h2{
	background-color: rgba(47, 46, 68, 0.8);
	border-radius: 22px;
	padding: 9px 0px;
}

h3{
	background-color: rgba(47, 46, 68, 0.6);
	border-radius: 19px;
	padding: 8px 0px;
}

h4{
	background-color: rgba(47, 46, 68, 0.4);
	border-radius: 16px;
	padding: 7px 0px;
}

h5{
	background-color: rgba(47, 46, 68, 0.2);
	border-radius: 13px;
	padding: 6px 0px;
}

h6 {
	background-color: rgba(47, 46, 68, 0.1); 
	border-radius: 10px;
	padding: 5px 0px;
}

#Lorem,#definitions {
    text-align: justify;
    text-justify: inter-word;
}

.liens{
    border-top: 20px;
    border: 5px;
    border-radius: 20px;
    border-style: solid;
    border-color: grey;
    background: rgba(169,169,169,0.2);
    font-family: Stencil;
}

dt{
    font-family: Algerian;
}

a:visited {
	color:darkcyan;
}

/*hover : état lorsque la souris passe au dessus du lien*/
a:hover{
	color:rgb(98, 98, 124);
}

/*active : état lorsque l'utilisateur est en train de cliquer sur le lien*/
a:active{
	color:blue;
}